.containerHome{
    display: flex;
    width: 100vw;
   /* border: 2px red solid;*/
   overflow-x: hidden;
   
}
.manejoimagenmario{
    margin: 10px;

    width: 10vw;
    height: 500px;
   
}
.manejoimagenluigui{
    margin: 10px;
    width: 10vw;
    height: 600px;
    float: right;
   
}
.containerHomeCard{
    margin-top: 2px;
    width: 65vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye uniformemente las columnas */
    /*gap: 1px;*/
}


.estrella{
    width: 30px;
    height: 30px; 
}
.anterior{
    width: 30px;
    height: 30px; 
    cursor: pointer;
    
}
.siguiente{
    width: 30px;
    height: 30px; 
    cursor: pointer;
}
.pagelabel{
     margin-top: -10;    
}
.ordenar{ 
    position: relative;
 width: 200px;
 height: 100px;
 margin-right: 50px;
float: right;  
z-index: 2;

}
.filtro{
    position: relative;
    float: inline-end;
    margin-top: 60px;
    color: red;
    font-size: 14px;
    font-weight: bold;
  background-color: greenyellow;
    z-index: 2;
}
.imagen-ordenar{
    position: absolute;
    width: 200px;
    height: 100px;
    float: right;
    z-index: 1;
    
}

.cargando{
    border-radius: 100%;
    background-image: black;
}